
@{
    ViewBag.Title = "Index";

}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Cuando se hace clic en el menú de Recursos Humanos
        $("#recursos-humanos").click(function () {
            // Oculta el menú principal
            $(".main-menu").hide();
            // Muestra el submenú de Recursos Humanos
            $("#submenu-recursos-humanos").show();
        });

        // Botón de retorno para volver al menú principal
        $("#back-to-main").click(function () {
            // Oculta los submenús
            $(".submenu").hide();
            // Muestra el menú principal
            $(".main-menu").show();
        });
    });
</script>



<div class="row main-menu">

    <div class="col-sm-4 ibox-content widget iboxShadow" id="recursos-humanos">
        <center>
            <div class="m-b-md">
                <i class="fa fa-building fa-4x"></i>
                <h3 class="font-bold no-margins">
                    RECURSOS HUMANOS
                </h3>

            </div>
        </center>
    </div>

    <div class="col-sm-4 ibox-content widget iboxShadow" id="vehiculos">
        <center>
            <div class="m-b-md">
                <i class="fa fa-car fa-4x"></i>
                <h3 class="font-bold no-margins">
                    VEHICULOS


                </h3>


            </div>
        </center>
    </div>

    <div class="col-sm-4 ibox-content widget iboxShadow">
        <center>
            <div class="m-b-md">
                <i class="fa fa-archive fa-4x"></i>
                <h3 class="font-bold no-margins">
                    ALMACEN


                </h3>

            </div>
        </center>
    </div>



    <div class="col-sm-4 ibox-content widget iboxShadow">
        <center>
            <div class="m-b-md">
                <i class="fa fa-tags fa-4x"></i>
                <h3 class="font-bold no-margins">
                    COMPRAS


                </h3>

            </div>
        </center>
    </div>

    <div class="col-sm-4 ibox-content widget iboxShadow">
        <center>
            <div class="m-b-md">
                <i class="fa fa-certificate fa-4x"></i>
                <h3 class="font-bold no-margins">
                    CERTIFICACIONES


                </h3>


            </div>
        </center>
    </div>

    <div class="col-sm-4 ibox-content widget iboxShadow">
        <center>
            <div class="m-b-md">
                <i class="fa fa-money fa-4x"></i>
                <h3 class="font-bold no-margins">
                    COMPROBACION DE GASTOS
                </h3>

            </div>
        </center>
    </div>



    <div class="col-sm-4 ibox-content widget iboxShadow">
        <center>
            <div class="m-b-md">
                <i class="fa fa-building fa-4x"></i>
                <h3 class="font-bold no-margins">
                    INSTITUCIONAL
                </h3>

            </div>
        </center>
    </div>
    <div class="col-sm-4 ibox-content widget iboxShadow">
        <center>
            <div class="m-b-md">
                <i class="fa fa-gear fa-4x"></i>
                <h3 class="font-bold no-margins">
                    MANTENIMIENTO
                </h3>


            </div>
        </center>
    </div>

    <div class="col-sm-4 ibox-content widget iboxShadow">
        <center>
            <div class="m-b-md">
                <i class="fa fa-leaf fa-4x"></i>
                <h3 class="font-bold no-margins">
                    PRODUCCION
                </h3>

            </div>
        </center>
    </div>



    <div class="col-sm-4 ibox-content widget iboxShadow">
        <center>
            <div class="m-b-md">
                <i class="fa fa-tags fa-4x"></i>
                <h3 class="font-bold no-margins">
                    PROYECTOS ESPECIALES
                </h3>

            </div>
        </center>
    </div>

    <div class="col-sm-4 ibox-content widget iboxShadow">
        <center>
            <div class="m-b-md">
                <i class="fa fa-car fa-4x"></i>
                <h3 class="font-bold no-margins">
                    VENTAS


                </h3>


            </div>
        </center>
    </div>

    <div class="col-sm-4 ibox-content widget iboxShadow">
        <center>
            <div class="m-b-md">
                <i class="fa fa-file fa-4x"></i>
                <h3 class="font-bold no-margins">
                    CATALOGOS


                </h3>

            </div>
        </center>
    </div>




</div>

<div class="row submenu" id="submenu-recursos-humanos" style="display: none;">
    <div class="col-sm-12 marginTop5">
        <button class="btn btn-success" id="back-to-main"><i class="fa fa-angle-left"></i> Volver</button>
    </div>
    <div class="col-sm-4 ibox-content widget iboxShadow">
        <center>
            <div class="m-b-md">
                <i class="fa fa-user fa-4x"></i>
                <h3 class="font-bold no-margins">
                    Alta del Empleado
                </h3>
            </div>
        </center>
    </div>

    <div class="col-sm-4 ibox-content widget iboxShadow">
        <a href="@Url.Action("Index", "Solicitud_Vacaciones")" class="button-link">
            <center>
                <div class="m-b-md">
                    <i class="fa fa-calendar fa-4x"></i>
                    <h3 class="font-bold no-margins">
                        Solicitud de Vacaciones
                    </h3>
                </div>
            </center>
        </a>
    </div>



    <div class="col-sm-4 ibox-content widget iboxShadow">
        <center>
            <div class="m-b-md">
                <i class="fa fa-exclamation-circle fa-4x"></i>
                <h3 class="font-bold no-margins">
                    Incidencias
                </h3>
            </div>
        </center>
    </div>

    <div class="col-sm-4 ibox-content widget iboxShadow">
        <center>
            <div class="m-b-md">
                <i class="fa fa-money fa-4x"></i>
                <h3 class="font-bold no-margins">
                    Solicitud de Préstamos
                </h3>
            </div>
        </center>
    </div>

    <div class="col-sm-4 ibox-content widget iboxShadow">
        <center>
            <div class="m-b-md">
                <i class="fa fa-clock-o fa-4x"></i>
                <h3 class="font-bold no-margins">
                    Horas Extras
                </h3>
            </div>
        </center>
    </div>

    <div class="col-sm-4 ibox-content widget iboxShadow">
        <center>
            <div class="m-b-md">
                <i class="fa fa-calendar-check-o fa-4x"></i>
                <h3 class="font-bold no-margins">
                    Asistencia
                </h3>
            </div>
        </center>
    </div>

    <div class="col-sm-4 ibox-content widget iboxShadow">
        <center>
            <div class="m-b-md">
                <i class="fa fa-laptop fa-4x"></i>
                <h3 class="font-bold no-margins">
                    Asignación de Equipo
                </h3>
            </div>
        </center>
    </div>

    <div class="col-sm-4 ibox-content widget iboxShadow">
        <center>
            <div class="m-b-md">
                <i class="fa fa-file-text-o fa-4x"></i>
                <h3 class="font-bold no-margins">
                    Solicitud de Justificante Laboral
                </h3>
            </div>
        </center>
    </div>
</div>

