
@{
    ViewBag.Title = "Index";

}



    <div class="col-sm-12 ibox-content ">
        <center>
            <img src="~/Content/IMG/Logos/GREEN GOLD.png" class="logoSize2" />
        </center>
    </div>
