USE [NEO_GENESIS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEmpleadoById]    Script Date: 11/4/2024 6:28:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crear el nuevo procedimiento almacenado
ALTER PROCEDURE [dbo].[SP_GetEmpleadoById]
    @IdEmpleado INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Seleccionar los datos del empleado por su ID
    SELECT 
        ISNULL(E.id_empleado, 0) AS id_empleado,
        ISNULL(E.folio_registro, '') AS folio_registro,
        ISNULL(E.hora_registro, '') AS hora_registro,
        ISNULL(E.fecha_registro, '') AS fecha_registro,
        ISNULL(E.empleado, 0) AS empleado,
        ISNULL(E.fecha_ingreso, '') AS fecha_ingreso,
        ISNULL(E.apellido_paterno, '') AS apellido_paterno,
        ISNULL(E.apellido_materno, '') AS apellido_materno,
        ISNULL(E.nombre, '') AS nombre,
        ISNULL(E.fecha_nacimiento, '') AS fecha_nacimiento,
        ISNULL(E.genero, '') AS genero,
        ISNULL(E.domicilio, '') AS domicilio,
        ISNULL(E.colonia, '') AS colonia,
        ISNULL(E.cp, '') AS cp,
        ISNULL(E.municipio, '') AS municipio,
        ISNULL(E.peso, '') AS peso,
        ISNULL(E.estatura, '') AS estatura,
        ISNULL(E.lugar_nacimiento, '') AS lugar_nacimiento,
        ISNULL(E.nacionalidad, '') AS nacionalidad,
        ISNULL(E.telefono, '') AS telefono,
        ISNULL(E.celular, '') AS celular,
        ISNULL(E.correo, '') AS correo,
        ISNULL(E.estado_civil, '') AS estado_civil,
        ISNULL(E.curp, '') AS curp,
        ISNULL(E.rfc, '') AS rfc,
        ISNULL(E.seguro, '') AS seguro,
        ISNULL(E.nss, '') AS nss,
        ISNULL(E.licencia, '') AS licencia,
        ISNULL(E.clase, '') AS clase,
        ISNULL(E.no_licencia, '') AS no_licencia,
        ISNULL(E.vigencia, '') AS vigencia,
        ISNULL(E.afore, '') AS afore,
        ISNULL(E.discapacidad, '') AS discapacidad,
        ISNULL(E.descripcion_discap, '') AS descripcion_discap,
        ISNULL(E.estado_salud, '') AS estado_salud,
        ISNULL(E.nivel_estudios, '') AS nivel_estudios,
        ISNULL(E.carrera, '') AS carrera,
        ISNULL(E.titulacion, '') AS titulacion,
        ISNULL(E.cedula, '') AS cedula,
        ISNULL(E.nombre_contacto, '') AS nombre_contacto,
        ISNULL(E.parentesco_contacto, '') AS parentesco_contacto,
        ISNULL(E.celular_contacto, '') AS celular_contacto,
        ISNULL(E.domicilio_contacto, '') AS domicilio_contacto,
        ISNULL(E.cp_contacto, '') AS cp_contacto,
        ISNULL(E.nombre_contacto2, '') AS nombre_contacto2,
        ISNULL(E.parentesco_contacto2, '') AS parentesco_contacto2,
        ISNULL(E.celular_contacto2, '') AS celular_contacto2,
        ISNULL(E.domicilio_contacto2, '') AS domicilio_contacto2,
        ISNULL(E.cp_contacto2, '') AS cp_contacto2,
        ISNULL(E.nombre_contacto3, '') AS nombre_contacto3,
        ISNULL(E.parentesco_contacto3, '') AS parentesco_contacto3,
        ISNULL(E.celular_contacto3, '') AS celular_contacto3,
        ISNULL(E.domicilio_contacto3, '') AS domicilio_contacto3,
        ISNULL(E.cp_contacto3, '') AS cp_contacto3,
        ISNULL(E.id_puesto, 0) AS id_puesto,
        ISNULL(E.id_departamento, 0) AS id_departamento,
        ISNULL(E.id_ubicacion, 0) AS id_ubicacion,
        ISNULL(E.id_empresa, 0) AS id_empresa,
        ISNULL(E.horario_entrada, '') AS horario_entrada,
        ISNULL(E.horario_salida, '') AS horario_salida,
        ISNULL(E.tipo_pago, '') AS tipo_pago,
        ISNULL(E.tipo_periodo, '') AS tipo_periodo,
        ISNULL(E.sueldo_neto, '') AS sueldo_neto,
        ISNULL(E.salario, '') AS salario,
        ISNULL(E.tipo_contrato, '') AS tipo_contrato,
        ISNULL(E.asignacion_equipo, '') AS asignacion_equipo,
        ISNULL(E.asignacion_vehiculo, '') AS asignacion_vehiculo,
        ISNULL(E.id_usuario, 0) AS id_usuario,
        ISNULL(E.vacaciones, 0) AS vacaciones,
        ISNULL(E.firma_digital, '') AS firma_digital,
        ISNULL(E.img_contrato, '') AS img_contrato,
        CASE 
            WHEN CHARINDEX('\', E.img_empleado) > 0 
            THEN RIGHT(E.img_empleado, CHARINDEX('\', REVERSE(E.img_empleado)) - 1)
            ELSE ISNULL(E.img_empleado, '') 
        END AS Img_empleado_nombre,
		P.nombre AS Puesto
    FROM EMPLEADO E 
	INNER JOIN PUESTO P ON E.id_puesto = P.id_puesto
    WHERE id_empleado = @IdEmpleado;
END
